DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
SECRET_KEY=change-me-to-a-long-random-string
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=rent_showcase
DB_USER=rent_user
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your-brevo-login-email
BREVO_SMTP_PASSWORD=your-brevo-smtp-key
DEFAULT_FROM_EMAIL=noreply@yourdomain.com
